workflow.json
{
  "name": "City Reporter - Issue Processing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "city-reporter/submit-issue",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b20001-c3d4-4e5f-8a9b-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 400],
      "webhookId": "city-reporter-webhook-001"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const raw = item.json;\n  const input = raw.body || raw;\n\n  const required = ['issue_id', 'user_id', 'location'];\n  const missing = required.filter(field => !input[field]);\n\n  if (missing.length > 0) {\n    throw new Error(`Missing required fields: ${missing.join(', ')}. Received keys: ${Object.keys(input).join(', ')}`);\n  }\n\n  if (!input.image_url && !input.image_base64) {\n    throw new Error('Either image_url or image_base64 is required');\n  }\n\n  if (!input.location?.latitude || !input.location?.longitude) {\n    throw new Error('Location must include latitude and longitude');\n  }\n\n  results.push({\n    json: {\n      issue_id: input.issue_id,\n      user_id: input.user_id,\n      image_url: input.image_url || null,\n      image_base64: input.image_base64 || null,\n      image_mime: input.image_mime || 'image/jpeg',\n      needs_image_fetch: !!(input.image_url && !input.image_base64),\n      location: {\n        latitude: parseFloat(input.location.latitude),\n        longitude: parseFloat(input.location.longitude),\n        address: input.location.address || 'Unknown'\n      },\n      description: input.description || '',\n      timestamp: input.timestamp || new Date().toISOString(),\n      validated_at: new Date().toISOString()\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "a1b20001-c3d4-4e5f-8a9b-000000000002",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [380, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-image-url-check",
              "leftValue": "={{ $json.needs_image_fetch }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b20001-c3d4-4e5f-8a9b-000000000003",
      "name": "Has Image URL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 400]
    },
    {
      "parameters": {
        "url": "={{ $json.image_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "CityReporterApp/1.0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 30000
        }
      },
      "id": "a1b20001-c3d4-4e5f-8a9b-000000000004",
      "name": "Fetch Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 200]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst originalData = $('Validate Input').first().json;\nconst results = [];\n\nfor (const item of items) {\n  let imageBase64 = originalData.image_base64;\n  let imageMime = originalData.image_mime || 'image/jpeg';\n\n  if (item.binary && item.binary.data) {\n    const binaryBuffer = await this.helpers.getBinaryDataBuffer(item.index ?? 0, 'data');\n    imageBase64 = binaryBuffer.toString('base64');\n    imageMime = item.binary.data.mimeType || 'image/jpeg';\n  }\n\n  results.push({\n    json: {\n      ...originalData,\n      image_base64: imageBase64,\n      image_mime: imageMime,\n      needs_image_fetch: false\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "a1b20001-c3d4-4e5f-8a9b-000000000005",
      "name": "Extract Image Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst results = [];\n\nconst systemPrompt = `You are an environmental issue analyzer for a city reporting app. Analyze the image and provide a structured assessment.\n\nYour Task: Identify the problem, classify severity, suggest who should handle it.\n\nSeverity Levels:\n- EASY: Small litter, minor graffiti, overgrown grass, small broken items, faded signs\n- MEDIUM: Large trash piles, broken public furniture, potholes under 20cm, damaged fencing, blocked drains, small dead animals, vandalism\n- HIGH: Fallen trees blocking roads, large potholes (safety hazard), exposed wires, gas leaks, flooding, structural damage, hazardous waste, immediate danger\n\nCategories: trash, road_damage, vegetation, vandalism, utilities, infrastructure, safety_hazard, pollution, animal, other\n\nAuthority Types: sanitation, roads_department, parks_department, utilities_electric, utilities_water, utilities_gas, police, emergency_services, animal_control, environmental\n\nRespond in JSON:\n{\"severity\":\"EASY|MEDIUM|HIGH\",\"category\":\"category\",\"problem_detected\":true,\"description\":\"description\",\"specific_issue\":\"type\",\"confidence\":0.0-1.0,\"authority_type\":\"authority\",\"safety_concern\":false,\"estimated_effort\":\"effort\",\"recommended_action\":\"action\",\"notes\":\"notes\"}\n\nIf no problem: {\"severity\":null,\"problem_detected\":false,\"description\":\"No issue detected\",\"notes\":\"what image shows\"}`;\n\nfor (const item of items) {\n  const data = item.json;\n\n  results.push({\n    json: {\n      ...data,\n      ai_request_body: {\n        contents: [{\n          role: 'user',\n          parts: [\n            { text: systemPrompt + '\\n\\nAnalyze this image. Location: ' + data.location.address + '. User description: ' + data.description },\n            { inline_data: { mime_type: data.image_mime || 'image/jpeg', data: data.image_base64 } }\n          ]\n        }],\n        generationConfig: {\n          responseMimeType: 'application/json',\n          maxOutputTokens: 900,\n          temperature: 0.2\n        }\n      }\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "a1b20001-c3d4-4e5f-8a9b-000000000006",
      "name": "Prepare AI Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://generativelanguage.googleapis.com/v1beta/models/' + ($vars.GEMINI_MODEL || 'gemini-3.1-flash-lite-preview') + ':generateContent?key=' + $vars.AI_API_KEY }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.ai_request_body) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "a1b20001-c3d4-4e5f-8a9b-000000000007",
      "name": "AI Vision Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1380, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst originalData = $('Prepare AI Request').first().json;\nconst results = [];\n\nfor (const item of items) {\n  const aiResponse = item.json;\n  const content = aiResponse.candidates?.[0]?.content?.parts?.[0]?.text\n    || aiResponse.choices?.[0]?.message?.content;\n\n  let aiResult;\n  try {\n    aiResult = JSON.parse(content);\n  } catch (e) {\n    aiResult = {\n      severity: 'MEDIUM',\n      problem_detected: true,\n      description: content || 'Unable to parse AI response',\n      confidence: 0.5,\n      notes: 'Failed to parse structured response'\n    };\n  }\n\n  const validSeverities = ['EASY', 'MEDIUM', 'HIGH'];\n  if (!validSeverities.includes(aiResult.severity)) {\n    aiResult.severity = 'MEDIUM';\n  }\n\n  const priorityScores = { EASY: 10, MEDIUM: 50, HIGH: 100 };\n\n  results.push({\n    json: {\n      ...originalData,\n      ai_result: aiResult,\n      priority_score: priorityScores[aiResult.severity],\n      processed_by_ai: true,\n      ai_processed_at: new Date().toISOString()\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "a1b20001-c3d4-4e5f-8a9b-000000000008",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1660, 400]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ai_result.severity }}",
                    "rightValue": "EASY",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "EASY"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ai_result.severity }}",
                    "rightValue": "MEDIUM",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MEDIUM"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ai_result.severity }}",
                    "rightValue": "HIGH",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HIGH"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "a1b20001-c3d4-4e5f-8a9b-000000000009",
      "name": "Severity Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1940, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const data = item.json;\n\n  return {\n    json: {\n      ...data,\n      severity: 'EASY',\n      status: 'open',\n      priority_score: 10,\n      notifications: {\n        push_to_nearby_users: true,\n        push_radius_km: 1,\n        add_to_community_feed: true,\n        notify_volunteers: false,\n        notify_authorities: false\n      },\n      reporter_points: 5,\n      resolution: {\n        can_be_community_resolved: true,\n        estimated_volunteers_needed: 1,\n        estimated_time_minutes: 15,\n        requires_verification: true\n      },\n      auto_close_days: 30,\n      db_payload: {\n        id: data.issue_id,\n        user_id: data.user_id,\n        severity: 'EASY',\n        status: 'open',\n        category: data.ai_result?.category,\n        ai_description: data.ai_result?.description,\n        user_description: data.description,\n        latitude: data.location?.latitude,\n        longitude: data.location?.longitude,\n        address: data.location?.address,\n        image_url: data.image_url,\n        priority_score: 10,\n        reporter_points: 5,\n        created_at: data.timestamp,\n        processed_at: new Date().toISOString()\n      }\n    }\n  };\n});"
      },
      "id": "a1b20001-c3d4-4e5f-8a9b-000000000010",
      "name": "EASY Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 160]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const data = item.json;\n\n  return {\n    json: {\n      ...data,\n      severity: 'MEDIUM',\n      status: 'attention_needed',\n      priority_score: 50,\n      notifications: {\n        push_to_nearby_users: true,\n        push_radius_km: 2,\n        add_to_community_feed: true,\n        notify_volunteers: true,\n        notify_authorities: false,\n        notify_municipal_dashboard: true\n      },\n      reporter_points: 15,\n      resolution: {\n        can_be_community_resolved: true,\n        estimated_volunteers_needed: '2-4',\n        estimated_time_minutes: 60,\n        requires_verification: true,\n        requires_before_after_photos: true\n      },\n      escalation: {\n        escalate_to_high_after_hours: 72,\n        escalate_if_reports_count: 3,\n        escalate_if_not_resolved_days: 7\n      },\n      check_for_clusters: true,\n      db_payload: {\n        id: data.issue_id,\n        user_id: data.user_id,\n        severity: 'MEDIUM',\n        status: 'attention_needed',\n        category: data.ai_result?.category,\n        ai_description: data.ai_result?.description,\n        user_description: data.description,\n        latitude: data.location?.latitude,\n        longitude: data.location?.longitude,\n        address: data.location?.address,\n        image_url: data.image_url,\n        priority_score: 50,\n        reporter_points: 15,\n        created_at: data.timestamp,\n        processed_at: new Date().toISOString()\n      }\n    }\n  };\n});"
      },
      "id": "a1b20001-c3d4-4e5f-8a9b-000000000011",
      "name": "MEDIUM Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const data = item.json;\n\n  return {\n    json: {\n      ...data,\n      severity: 'HIGH',\n      status: 'urgent',\n      priority_score: 100,\n      notifications: {\n        push_to_nearby_users: true,\n        push_radius_km: 5,\n        push_message: 'CAUTION: Environmental hazard reported nearby',\n        add_to_community_feed: true,\n        notify_volunteers: true,\n        notify_authorities: true,\n        notify_municipal_dashboard: true,\n        send_urgent_alert: true\n      },\n      reporter_points: 30,\n      authority_contact: {\n        required: true,\n        authority_type: data.ai_result?.authority_type,\n        urgency: 'immediate',\n        auto_email: true,\n        auto_call: false,\n        fallback_to_general: true\n      },\n      resolution: {\n        can_be_community_resolved: false,\n        requires_professional: true,\n        requires_verification: true,\n        track_authority_response: true\n      },\n      tracking: {\n        enable_realtime: true,\n        update_interval_minutes: 30,\n        max_response_time_hours: 24,\n        escalate_if_no_response_hours: 4\n      },\n      db_payload: {\n        id: data.issue_id,\n        user_id: data.user_id,\n        severity: 'HIGH',\n        status: 'urgent',\n        category: data.ai_result?.category,\n        ai_description: data.ai_result?.description,\n        user_description: data.description,\n        latitude: data.location?.latitude,\n        longitude: data.location?.longitude,\n        address: data.location?.address,\n        image_url: data.image_url,\n        priority_score: 100,\n        reporter_points: 30,\n        authority_type: data.ai_result?.authority_type,\n        safety_concern: data.ai_result?.safety_concern,\n        created_at: data.timestamp,\n        processed_at: new Date().toISOString()\n      }\n    }\n  };\n});"
      },
      "id": "a1b20001-c3d4-4e5f-8a9b-000000000012",
      "name": "HIGH Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 640]
    },
    {
      "parameters": {
        "url": "=https://nominatim.openstreetmap.org/reverse?lat={{ $json.location.latitude }}&lon={{ $json.location.longitude }}&format=json&addressdetails=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "CityReporterApp/1.0"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "a1b20001-c3d4-4e5f-8a9b-000000000013",
      "name": "Reverse Geocode",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2500, 640]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst highData = $('HIGH Handler').first().json;\nconst results = [];\n\nfor (const item of items) {\n  const geocode = item.json;\n  const address = geocode.display_name || highData.location.address;\n  const city = geocode.address?.city || geocode.address?.town || 'Unknown';\n  const country = geocode.address?.country || 'Unknown';\n\n  const prompt = `Find the real contact information for the local government authority responsible for this issue.\n\nIssue type: ${highData.ai_result.category}\nAuthority needed: ${highData.ai_result.authority_type}\nCity: ${city}\nFull address: ${address}\nCountry: ${country}\n\nSearch for the REAL official email address and department name of the municipal authority in ${city} that handles ${highData.ai_result.category} issues.\n\nFor example, if this is in Heilbronn, Germany, look for the Stadtverwaltung Heilbronn department contacts.\n\nRespond in JSON format ONLY:\n{\n  \"authority_name\": \"Official name of the authority/department\",\n  \"department\": \"Specific department\",\n  \"email\": \"real official email address\",\n  \"phone\": \"phone number if known\",\n  \"website\": \"official website URL\",\n  \"confidence\": 0.0-1.0,\n  \"notes\": \"any relevant notes\"\n}`;\n\n  results.push({\n    json: {\n      geocode_data: geocode,\n      geocode_address: address,\n      geocode_city: city,\n      authority_lookup_body: {\n        contents: [{\n          role: 'user',\n          parts: [{ text: 'You are a municipal authority contact finder. Return only valid JSON with real, verifiable government contact information. If you cannot find a specific contact, return the general municipality contact for the city.\\n\\n' + prompt }]\n        }],\n        generationConfig: {\n          responseMimeType: 'application/json',\n          maxOutputTokens: 500,\n          temperature: 0.1\n        }\n      }\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "a1b20001-c3d4-4e5f-8a9b-000000000022",
      "name": "Prepare Authority Lookup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2780, 640]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://generativelanguage.googleapis.com/v1beta/models/' + ($vars.GEMINI_MODEL || 'gemini-3.1-flash-lite-preview') + ':generateContent?key=' + $vars.AI_API_KEY }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.authority_lookup_body) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a1b20001-c3d4-4e5f-8a9b-000000000023",
      "name": "AI Authority Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3060, 640]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst highData = $('HIGH Handler').first().json;\nconst lookupData = $('Prepare Authority Lookup').first().json;\nconst results = [];\n\nfor (const item of items) {\n  const aiResponse = item.json;\n  const content = aiResponse.candidates?.[0]?.content?.parts?.[0]?.text\n    || aiResponse.choices?.[0]?.message?.content;\n\n  let authority = {};\n  try {\n    authority = JSON.parse(content);\n  } catch (e) {\n    authority = {\n      authority_name: 'Municipal Administration',\n      department: 'General Inquiries',\n      email: 'info@' + (lookupData.geocode_city || 'city').toLowerCase().replace(/\\s+/g, '') + '.de',\n      confidence: 0.2,\n      notes: 'AI lookup failed, using fallback'\n    };\n  }\n\n  const address = lookupData.geocode_address || highData.location.address;\n  const city = lookupData.geocode_city || 'Unknown';\n  const mapsLink = `https://maps.google.com/?q=${highData.location.latitude},${highData.location.longitude}`;\n\n  const emailSubject = `[URGENT] Environmental Issue Report - ${highData.ai_result.category} at ${address}`;\n\n  const emailHtml = `<h2>Environmental Issue Report</h2>\n<p>An environmental issue requiring urgent attention has been reported through the City Reporter system.</p>\n\n<h3>ISSUE DETAILS</h3>\n<table style=\"border-collapse:collapse;width:100%\">\n<tr><td style=\"padding:8px;border:1px solid #ddd\"><strong>Type:</strong></td><td style=\"padding:8px;border:1px solid #ddd\">${highData.ai_result.category}</td></tr>\n<tr><td style=\"padding:8px;border:1px solid #ddd\"><strong>Severity:</strong></td><td style=\"padding:8px;border:1px solid #ddd;color:red;font-weight:bold\">HIGH - Immediate attention required</td></tr>\n<tr><td style=\"padding:8px;border:1px solid #ddd\"><strong>Description:</strong></td><td style=\"padding:8px;border:1px solid #ddd\">${highData.ai_result.description}</td></tr>\n<tr><td style=\"padding:8px;border:1px solid #ddd\"><strong>Safety Concern:</strong></td><td style=\"padding:8px;border:1px solid #ddd\">${highData.ai_result.safety_concern ? 'YES' : 'No'}</td></tr>\n</table>\n\n<h3>LOCATION</h3>\n<table style=\"border-collapse:collapse;width:100%\">\n<tr><td style=\"padding:8px;border:1px solid #ddd\"><strong>Address:</strong></td><td style=\"padding:8px;border:1px solid #ddd\">${address}</td></tr>\n<tr><td style=\"padding:8px;border:1px solid #ddd\"><strong>City:</strong></td><td style=\"padding:8px;border:1px solid #ddd\">${city}</td></tr>\n<tr><td style=\"padding:8px;border:1px solid #ddd\"><strong>Coordinates:</strong></td><td style=\"padding:8px;border:1px solid #ddd\">${highData.location.latitude}, ${highData.location.longitude}</td></tr>\n<tr><td style=\"padding:8px;border:1px solid #ddd\"><strong>Map:</strong></td><td style=\"padding:8px;border:1px solid #ddd\"><a href=\"${mapsLink}\">View on Google Maps</a></td></tr>\n</table>\n\n${highData.image_url ? '<h3>PHOTO EVIDENCE</h3>\\n<p><a href=\"' + highData.image_url + '\">View Image</a></p>' : ''}\n\n<h3>AUTHORITY CONTACTED</h3>\n<table style=\"border-collapse:collapse;width:100%\">\n<tr><td style=\"padding:8px;border:1px solid #ddd\"><strong>Authority:</strong></td><td style=\"padding:8px;border:1px solid #ddd\">${authority.authority_name}</td></tr>\n<tr><td style=\"padding:8px;border:1px solid #ddd\"><strong>Department:</strong></td><td style=\"padding:8px;border:1px solid #ddd\">${authority.department || 'N/A'}</td></tr>\n<tr><td style=\"padding:8px;border:1px solid #ddd\"><strong>Lookup Confidence:</strong></td><td style=\"padding:8px;border:1px solid #ddd\">${Math.round((authority.confidence || 0) * 100)}%</td></tr>\n</table>\n\n<h3>REPORT INFORMATION</h3>\n<table style=\"border-collapse:collapse;width:100%\">\n<tr><td style=\"padding:8px;border:1px solid #ddd\"><strong>Report ID:</strong></td><td style=\"padding:8px;border:1px solid #ddd\">${highData.issue_id}</td></tr>\n<tr><td style=\"padding:8px;border:1px solid #ddd\"><strong>Reported:</strong></td><td style=\"padding:8px;border:1px solid #ddd\">${highData.timestamp}</td></tr>\n<tr><td style=\"padding:8px;border:1px solid #ddd\"><strong>Status:</strong></td><td style=\"padding:8px;border:1px solid #ddd\">Awaiting authority response</td></tr>\n</table>\n\n<hr>\n<p><em>This report was generated automatically by City Reporter.</em></p>\n<p>If this is not within your jurisdiction, please forward to the appropriate department.</p>`;\n\n  results.push({\n    json: {\n      ...highData,\n      authority: authority,\n      email_subject: emailSubject,\n      email_html: emailHtml,\n      authority_email: authority.email,\n      geocode_address: address,\n      geocode_city: city\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "a1b20001-c3d4-4e5f-8a9b-000000000014",
      "name": "Compose Authority Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3340, 640]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const data = item.json;\n  console.log(`[EMAIL] Would send to: ${data.authority_email}`);\n  console.log(`[EMAIL] Subject: ${data.email_subject}`);\n\n  return {\n    json: {\n      ...data,\n      email_status: 'logged_not_sent',\n      email_to: data.authority_email,\n      email_subject: data.email_subject,\n      email_note: 'Replace this node with an Email Send node and configure SMTP credentials to send real emails'\n    }\n  };\n});"
      },
      "id": "a1b20001-c3d4-4e5f-8a9b-000000000015",
      "name": "Send Authority Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3620, 640]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.DB_API_ENDPOINT }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.DB_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.db_payload) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "a1b20001-c3d4-4e5f-8a9b-000000000016",
      "name": "Save to Database",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2500, 0]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const data = item.json;\n\n  return {\n    json: {\n      success: true,\n      issue_id: data.issue_id,\n      severity: data.severity || data.ai_result?.severity,\n      status: data.status,\n      category: data.ai_result?.category,\n      priority_score: data.priority_score,\n      message: 'Issue received and processed',\n      processed_at: new Date().toISOString()\n    }\n  };\n});"
      },
      "id": "a1b20001-c3d4-4e5f-8a9b-000000000017",
      "name": "Prepare Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2500, 300]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a1b20001-c3d4-4e5f-8a9b-000000000018",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2780, 300]
    },
    {
      "parameters": {},
      "id": "a1b20001-c3d4-4e5f-8a9b-000000000019",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [100, 800]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const error = item.json;\n  const execution = error.execution || {};\n  const lastNode = execution.lastNodeExecuted || 'unknown';\n\n  return {\n    json: {\n      success: false,\n      error: error.message || error.error?.message || 'Unknown processing error',\n      failed_node: lastNode,\n      code: 'PROCESSING_ERROR',\n      timestamp: new Date().toISOString()\n    }\n  };\n});"
      },
      "id": "a1b20001-c3d4-4e5f-8a9b-000000000020",
      "name": "Handle Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [380, 800]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {
          "responseCode": 500
        }
      },
      "id": "a1b20001-c3d4-4e5f-8a9b-000000000021",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [660, 800]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          { "node": "Validate Input", "type": "main", "index": 0 }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          { "node": "Has Image URL?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Has Image URL?": {
      "main": [
        [
          { "node": "Fetch Image", "type": "main", "index": 0 }
        ],
        [
          { "node": "Prepare AI Request", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Image": {
      "main": [
        [
          { "node": "Extract Image Data", "type": "main", "index": 0 }
        ]
      ]
    },
    "Extract Image Data": {
      "main": [
        [
          { "node": "Prepare AI Request", "type": "main", "index": 0 }
        ]
      ]
    },
    "Prepare AI Request": {
      "main": [
        [
          { "node": "AI Vision Analysis", "type": "main", "index": 0 }
        ]
      ]
    },
    "AI Vision Analysis": {
      "main": [
        [
          { "node": "Parse AI Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          { "node": "Severity Switch", "type": "main", "index": 0 }
        ]
      ]
    },
    "Severity Switch": {
      "main": [
        [
          { "node": "EASY Handler", "type": "main", "index": 0 }
        ],
        [
          { "node": "MEDIUM Handler", "type": "main", "index": 0 }
        ],
        [
          { "node": "HIGH Handler", "type": "main", "index": 0 }
        ],
        [
          { "node": "MEDIUM Handler", "type": "main", "index": 0 }
        ]
      ]
    },
    "EASY Handler": {
      "main": [
        [
          { "node": "Save to Database", "type": "main", "index": 0 },
          { "node": "Prepare Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "MEDIUM Handler": {
      "main": [
        [
          { "node": "Save to Database", "type": "main", "index": 0 },
          { "node": "Prepare Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "HIGH Handler": {
      "main": [
        [
          { "node": "Reverse Geocode", "type": "main", "index": 0 },
          { "node": "Save to Database", "type": "main", "index": 0 },
          { "node": "Prepare Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "Reverse Geocode": {
      "main": [
        [
          { "node": "Prepare Authority Lookup", "type": "main", "index": 0 }
        ]
      ]
    },
    "Prepare Authority Lookup": {
      "main": [
        [
          { "node": "AI Authority Search", "type": "main", "index": 0 }
        ]
      ]
    },
    "AI Authority Search": {
      "main": [
        [
          { "node": "Compose Authority Email", "type": "main", "index": 0 }
        ]
      ]
    },
    "Compose Authority Email": {
      "main": [
        [
          { "node": "Send Authority Email", "type": "main", "index": 0 }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        [
          { "node": "Respond to Webhook", "type": "main", "index": 0 }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          { "node": "Handle Error", "type": "main", "index": 0 }
        ]
      ]
    },
    "Handle Error": {
      "main": [
        [
          { "node": "Error Response", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
